<html>
  <head>
    <title>{{ data["feature"]["title"] }} | Can I use terminal</title>
    <link rel="stylesheet" href="/static/main.css">
    <style>
      {% for case in data["status_cases"] %}
        .status-{{ case[0] }} {
          background-color: {{ data["status_cases"][case[0]]["color"] }};
        }
      {% endfor %}
    </style>
  </head>
  <body>
    <h1>{{ data["feature"]["title"] }}</h1>
    <p>{{ data["feature"]["description"] }}</p>
    <table>
      <tr>
        <td>Name</td>
        <td>
          <div style="width: 70vw; position:relative;">
            {% for year in data["date_offsets_years"] %}
              <div style="position: absolute; display: inline; top: 0; left: {{ data["date_offsets"][year] }}vw;">
                {{ year }}
              </div>
            {% endfor %}
          </div>
        </td>
        <td>Current state</td>    
      </tr>
      {% for terminal in data["terminals"] %}
        <tr>
          <td><a href="/terminals/{{ terminal }}.html">{{ data["terminal_data"][terminal]["name"] }}</a></td>
          <td>
            <div style="width: 71vw; position:relative;">
            {% for segment in data["segments"][terminal] %}
              <div class="has-tooltip status-{{ segment["name"] }}" style="display: inline; height: 2rem; text-align: center; width: {{ segment["len"] }}vw; left: {{ segment["pos"] }}vw; position:absolute;">
                <div style="overflow: hidden;">
                  {{ data["status_cases"][segment["name"]]["name"] }}
                </div>
                <span>
                  {{ data["status_cases"][segment["name"]]["name"] }}  
                  <ul>
                    {% for l in segment["links"] %}
                      <li><a href="{{ l["link"] }}"> {{ l["name"] }} </a></li>
                    {% endfor %}
                  </ul>
                </span>
              </div>
            {% endfor %}
            </div>
          </td>
          <td class="status-{{ data["current_status"][terminal]["status"] }}">{{ data["current_status"][terminal]["text"] }}</td>
        </tr>
      {% endfor %}
    </table>
    {% if data["unsupported_terminals"] != blank %}
    <p>
      No data is available for terminals
      {% for terminal in data["unsupported_terminals"] %}
        <a href="/terminals/{{ terminal }}.html">{{ data["terminal_data"][terminal]["name"] }}</a>,
      {% endfor %}
      if you have data about them <a href="https://github.com/can-i-use-terminal/can-i-use-terminal.github.io/tree/main/data">please contribute</a>.
    </p>
    {% endif %}
    <p>
      <a href="/">Return to home</a>
    </p>
  </body>
</html>
